<div class="page-header">
  <h3><%= @party.name %></h3>
  <h4>Party #<%= @party.id %></h4>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @party.name %></dd>

      <dt>Size</dt>
      <dd><span class="badge"><%= @party.diners.count %></span></dd>

      <dt>Start date</dt>
      <dd><%= @party.start_date %></dd>

      <dt>End date</dt>
      <dd><%= @party.end_date %></dd>


      <dt>Diners</dt>
      <dd>
        <div class="row">
        <% @party.diners.each do |diner| %>


          <div class="col-sm-6 col-md-4">
            <div class="jumbotron">
              <div class="thumbnail">
                <img width=120 height=100 src="<%= diner.user.image%>" alt="..."><br />
              <!--
              <div class="caption">
                <h4> <%=diner.user.username%></h4>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Order</a> <a href="#" class="btn btn-primary" role="button">See Details</a></p>
              </div> -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                  <%=diner.user.username%>
                </h4>
                </div>
                <div class="panel panel-body">
                  <p>...</p>
                </div>
              </div>

            <p><a href="#" class="btn btn-primary" role="button">Order</a> <a href="#" class="btn btn-primary" role="button">Details</a></p>

            </div>
            </div>
          </div>

       <%end%>
       </div>
      </dd>

    </dl>


    <div class="media-body">
      <form action="/create_diner" method="post">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <input type="hidden" name="party_id" value="<%=@party.id%>">

        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">
            Add Diner <i class="fa fa-user"></i>
          </button>
        </span>

        <div class="form-group">
          <%= select_tag(:user_id, options_from_collection_for_select(User.order("username ASC"), :id, :username), :class => "form-control") %>    
        </div>

      </form>
    </div>

    <div class="btn-group btn-group-justified">
      <a href="/parties" class="btn btn-primary">
        Back
      </a>
      <a href="/parties/<%= @party.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_party/<%= @party.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
