<div class="page-header">
  <% if current_user.id == params[:id] %>
  <h3>My Profile</h3>
  <% else %>
  <h3><%=User.where(:id => params[:id]).first.username.capitalize%>'s Profile</h3>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
<div class="panel">
  <div class="panel-heading">
      <h3 class="panel-title">
        <% if current_user.id == params[:id] %>
        Name: <%= @user.username.capitalize %> <br />
        <% else %>
        Name: <%= User.where(:id => params[:id]).first.username.capitalize %>
        <% end %>
      </h3>
    </div>
    <div class="panel-body">
      <img width=200 height=200 src="<%= @user.image %>"> <br /><br />
    </div>
</div>
</div>

<div class="col-xs-6 col-md-3">
  <div class="thumbnail">
    <br />

<div class="panel panel-default">

  <div class="panel-heading">
    <h4 class="panel-title">
      Total for <%= current_user.username.capitalize %>
    </h4>
  </div>

  <div class="panel-body">
      <p> You owe: </p>
      <% @total = 0 %>
      <% Share.all.each do |share| %>
        <% if share.user_id == params[:id] %>
          <% @total += share.proportion * share.order.menu_item.price %>
        <% end %>
      <% end %>
      <h4 align="center"> <%= number_to_currency(@total) %> </h4>
  </div>
</div>
</div>
</div>
</div>

<div class="row">
  <h3>My Parties</h3>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Actions</th>
      </tr>

      <% Party.all.each do |party| %>
      <% unless !(party.diners.any? {|d| d.user_id == current_user.id }) %>
      <tr>
        <td><a href="/parties/<%= party.id%>"><%= party.name %></td>
        <td><span class="badge"><%= party.diners.count %></div><span></td>
        <td><%= party.start_date %></td>
        <td><%= party.end_date %></td>
        <td>
          <a href="/parties/<%= party.id %>" class="btn btn-primary">Show</a>
          <a href="/parties/<%= party.id %>/edit" class="btn btn-warning">Edit</a>
        </td>
      </tr>
      <% end %>
      <% end %>
    </table>
  </div>
</div>
